[Unit]
Description=Display current temperature on 7-segments LED

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/MyWeatherStation
Environment="PATH=/home/pi/.virtualenvs/weather/bin"
ExecStart=/home/pi/.virtualenvs/weather/bin/python bin/display.py
ExecStop=/usr/bin/killall /home/pi/.virtualenvs/weather/bin/python
ExecStop=/home/pi/.virtualenvs/weather/bin/python bin/display_off.py

[Install]
WantedBy=multi-user.target
