[Unit]
Description=uWSGI instance to server myweather
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/MyWeatherStation
Environment="PATH=/home/pi/.virtualenvs/weather/bin"
ExecStart=/home/pi/.virtualenvs/weather/bin/uwsgi --ini weather.ini

[Install]
WantedBy=multi-user.target
